In [1]:
import regex as re 
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve,roc_auc_score
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings 
warnings.filterwarnings ('ignore')

In [62]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
#Sample Text- 'Python Exercises, PHP exercises.'
text = 'python Exercises, PHP exercises'

rep_text = re.sub("[ ,.]",":",text)

In [63]:
rep_text

'python:Exercises::PHP:exercises'

In [ ]:
#Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
#Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [69]:
dict= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [71]:
dict1=pd.DataFrame(dict)

In [72]:
dict1

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [117]:

dict1['SUMMARY']= dict1['SUMMARY'].str.replace("!","")
dict1['SUMMARY']= dict1['SUMMARY'].str.replace(".","")
dict1['SUMMARY']= dict1['SUMMARY'].str.replace(",","")
dict1['SUMMARY']= dict1['SUMMARY'].str.replace("XXXXX","")
dict1['SUMMARY']= dict1['SUMMARY'].str.replace(":","")
dict1['SUMMARY']= dict1['SUMMARY'].str.replace(";","")
dict1['SUMMARY']= dict1['SUMMARY'].str.replace("123","")

In [118]:
dict1

         SUMMARY
0    hello world
1           test
2  four five six

In [281]:
#Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

def find(text):
    
    regex=re.compile('\w{4,}')
    match =regex.findall(text)
    print(match)

In [282]:
find('hello world nanu anu scientist')

['hello', 'world', 'nanu', 'scientist']

In [279]:
#Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.


def word_find(text):
    
    regex1=re.compile(r"\b\w{3,5}\b")
    match =regex1.findall(text)
    print(match)

['this', 'nisha']

In [284]:
#Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]




def rep():
    sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
    x=str(sample_text)
    match_remove = re.compile("([()])/g")
    text = match_remove.sub('',x)
    return text
print(text)

['example (.com)', 'hr@fliprobo (.com)', 'github (.com)', 'Hello (Data Science World)', 'Data (Scientist)']

In [287]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

with open ("C:\Users\www\Downloads\assignment.txt") as file:
    for line in file:
        pattern = '[a-zA-Z0-9._%+-]+@[a-zA-Z0-9,-]+\.[a-zA-Z{2,}]'
        urls = re.findall(pattern,line)
        match = re.sub("()","",urls)
        print(match)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1471681951.py, line 3)

In [322]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
#Sample text: “ImportanceOfRegularExpressionsInPython

sample_text = "ImportanceOfRegularExpressionsInPython"

pattern = "[A-Z][^A-Z]*"
match = re.findall(pattern,sample_text)

In [323]:
match

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [459]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"


text = "RegularExpression1IsAn2ImportantTopic3InPython"
def spaces(text):
    match = re.sub('\d+', '  ', text)
    return match

In [10]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"


def word_spaces(text):
    pattern = "(\d+[A-Z])"
    space = re.split(pattern,text)
    return space

In [11]:
word_spaces("RegularExpression1IsAn2ImportantTopic3InPython")

['RegularExpression', '1I', 'sAn', '2I', 'mportantTopic', '3I', 'nPython']

In [13]:
#Question 10 - Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

data = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')

In [25]:
data
df= pd.DataFrame(data)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [33]:
df["first_five_letters"]= df["Country"].str.extract('(\w{6})')

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [40]:
# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
text = "hello Everyone 1_23$"
match1=re.findall("\w+",text)

In [56]:
#Question 12- Write a Python program where a string will start with a specific number. 

text = "5number is five"
match3 = re.findall("^5",text)
match3

['5']

In [72]:
def match(string):
    if match3 == re.findall("^5",string):
        print(string)

In [74]:
match("number is five number" )

In [95]:
#Question 13- Write a Python program to remove leading zeros from an IP address

def remove(string):
    match4 = re.sub("[0]*",'',string)
    print(match4)

In [96]:
remove("126.08.09.233")

126.8.9.233

In [147]:
# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
#Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.


with open ("C:\Users\www\Desktop\text.txt") as file:
    for line in file:
        date = re.findall("(August 15th 1947)",line)
        print (line)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3893399597.py, line 5)

In [238]:
#Question 15- Write a Python program to search some literals strings in a string. 
#Sample text : 'The quick brown fox jumps over the lazy dog.'
text_sample = "The quick brown fox jumps over the lazy dog."
animal = re.findall("f[a-z]+|d[a-z]+|h[a-z]{4,}",text_sample)

In [239]:
animal

['fox', 'dog']

In [16]:
#Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
#Sample text : 'The quick brown fox jumps over the lazy dog.'

def search_text(text):
    
    match_search = re.search("f[a-z]+",text)
    return match_search

In [17]:
search_text("The quick brown fox jumps over the lazy dog.")

In [20]:
#Question 17- Write a Python program to find the substrings within a string.
#Sample text : 'Python exercises, PHP exercises, C# exercises'
#Pattern : 'exercises'.

def sub_string(text):
    for match in re.findall("exercises",text):
        print(match)

In [40]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.


def s_string(text):
    for match

In [41]:
s_string("exercises are good for baby")

<_regex.Scanner object at 0x000002534671CC70>

In [17]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.


def date_format(dt):
    change = re.sub("(\d{4})-(\d{2})-(\d{2})","\\3-\\2-\\1",dt)  #we use group reference to replace the format
    print(change)

In [18]:
date_format("1999-10-10")

10-10-1999

In [217]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
#Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

def decimal_num(text):
    text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
    num = re.compile("(\d+[0-9].[0-9]{2})")
    final_string=num.search(text)
    print (final_string.group())

In [218]:
decimal_num("01.12 0132.123 2.31875 145.8 3.01 27.25 0.25")

01.12

In [244]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.



def sample(text):
    
    match = re.search("\d+",text)
        
    print("index : ",match.start())
    print("text is " ,match.group())

In [245]:
sample("there are 45 elements")

index :  10
text is  45

In [267]:

#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
#Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'


sample_text2 = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
max_num = re.findall('\d+',sample_text2)
max_num = [int(value) for value in max_num]
maximum_value = max(max_num)
print(maximum_value)

950

In [324]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.
#Sample Text: “RegularExpressionIsAnImportantTopicInPython"
#Expected Output: Regular Expression Is An Important Topic In Python

def spaces(text):
    space_string=re.sub("(\w)([A-Z])","\1 \2",text)
    print(space_string)

In [325]:
spaces("RegularExpressionIsAnImportantTopicInPython")

Regula xpressio   mportan opi  ython

In [331]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters
text = "Python IS a Programming language "
sequence = re.findall("[A-Z]+[a-z]+",text)
print(sequence)

['Python', 'Programming']

In [341]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
#Sample Text: "Hello hello world world"
#Expected Output: Hello hello world


text = "Hello hello world world"
regex1 = r"\b(\w+)(?:\W+\1\b)+"
output = re.sub(regex1,r'\1',text)
print(output)

Hello hello world

In [374]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.


def check_string(string):
    
    if (re.search("[a-zA-Z0-9]$",string)):
        
        print("This string ends with alphanumeric character")
    else:
        print("there is no match")

In [377]:
check_string("hi 12345@#")

there is no match

In [16]:
#Question 27-Write a python program using RegEx to extract the hashtags.
#Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
#Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']


def hash(text):
    match = re.findall("#\w+",text)
    print(match)

In [17]:
hash("""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo""")

['#Doltiwal', '#xyzabc', '#Demonetization']

In [18]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
#Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
#Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party lead

def remove_char(text):
    match = re.sub("<U\+\w{4}","",text)
    print(match)

In [19]:
remove_char("@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders")

@Jags123456 Bharat band on 28??<ed>>><ed>>>Those who  are protesting #demonetization  are all different party leaders

In [22]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
#Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
#Note- Store this sample text in the file and then extract dates.
def remove_dates(text):
    match = re.sub ("\w{2}-\w{2}-\w{4}","",text)
    dates = re.findall("\w{2}-\w{2}-\w{4}",text)
    print(dates)
    print(match)

In [23]:
remove_dates("Ron was born on 12-09-1992 and he was admitted to school 15-12-1999")

['12-09-1992', '15-12-1999']
Ron was born on  and he was admitted to school

In [43]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.
#Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
#Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

def words(text):
    pattern = re.compile(r"\b\w{2,4}\b")
    match = re.sub(pattern,"",text)
    print(match)

In [44]:
words("The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.")

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.